@use 'colors' as *;

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	line-height: calc(1em + 0.5rem);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: $cream;
	font-family: 'Fraunces', serif;
	font-family: 'Montserrat', sans-serif;
}

img,
picture {
	display: block;
	max-width: 100%;
	user-select: none;
}

button {
	font-family: inherit;
	display: block;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	max-width: 1200px;
}

@media (min-width: 1440px){
    .wrapper {
        max-width: 1440px;
    }
}

